*{
    margin: 0;
    padding: 0;

}
.blog-card{
    border: 2px solid black ;
    transition: all 0.5s;
    background-image: linear-gradient(to right,#FFFACD, #FFD580);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.blog-card:hover{
    box-shadow: 4px 4px 4px 5px rgb(170, 0, 255);
    text-decoration: none;
    transform: scale(1.05);


}
.blog-card p{
    text-align: justify;
    background-image: linear-gradient(to right,#FFFACD, #FFD580);
    font-weight: 600;
}
.blog-card h4{
    background-image: linear-gradient(to right,#FFFACD, #FFD580);
    text-decoration: none;
    color: rgb(34, 15, 157);
    transition: all 0.5s;

}
.blog-card h4:hover{
    color: rgb(8, 5, 5);
    
}
.Blogstitle{
    text-decoration: none;
}